<html data-theme="dark" lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Record | {% block title %}{% endblock%} </title>
        <link rel="stylesheet" href="static/css/pico.css">
        <link rel="stylesheet" href="static/css/styles.css">
    </head>
    <body>
        <nav class = "container">
            <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/buy">Buy</a></li>
            <li><a href="/status">Status</a></li>
            </ul>
        </nav>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <section class="error container">
                        <ul>
                            {% for message in messages %}
                                <li clase="error-msg">{{ message }}</li>
                            {% endfor %}
                        </ul>
                    </section>
                {% endif %}    
            {% endwith%}         
            <section class="container">
                {% block content %}{% endblock %}        
            </section>                    
            
        <footer class="container">
            &#10084; Lovingly made in Quito, Ecuador.                       
        </footer>
    </body>
</html>