{% extends "base.html" %}
{% block title %} Buy {% endblock %}
{% block content %}
    <h2>Buy</h2>
        <form action="/buy" method="post">
            {{ jinja_form.hidden_tag() }}
            
            <input type="hidden" name="day" value={{ jinja_form.day }}>

            <input type="hidden" name="hour" value={{ jinja_form.hour }}>  
            
            <div class="grid">
                {{ jinja_form.currency_from.label() }}
                {{ jinja_form.currency_from }}                          

                {{ jinja_form.currency_to.label() }} 
                {{ jinja_form.currency_to }}
            </div>

            <div class="grid">                                                     
                {{ jinja_form.amount_from.label() }}
                {{ jinja_form.amount_from }}  
                {{ jinja_form.calculate()}}                                         
            </div>

            <div class="grid">
                {{ jinja_form.amount_to.label() }}
                <input type="text" 
                    name="amount_to" 
                    value="{{ jinja_form.amount_to.data or '' }}"
                    readonly>

                {{ jinja_form.unit_price.label() }}
                <input type="text" 
                    name="unit_price" 
                    value="{{ jinja_form.unit_price.data or '' }}"
                    readonly>
            </div> 

            <div class="grid">
                <p class="align-buttons-left">
                    <a href="/" role="button" class="secondary">Cancel</a>
                </p>
                <p class="align-buttons-right">
                    {{ jinja_form.submit() }}
                </p>
            </div>                                                                                           
        </form>
{% endblock %}